<mat-toolbar color="primary">
  @if (showBackButton) {
    <button
      mat-icon-button
      (click)="goBack()"
      aria-label="Go back">
      <mat-icon>arrow_back</mat-icon>
    </button>
  }
  <span>UVbunny</span>
  <span class="version">v{{ appVersion }}</span>
  <span class="spacer"></span>
  @if (averageHappiness$ | async; as avg) {
    <mat-chip>
      <span style="color: white;">Average Happiness: <strong>{{ avg }}</strong></span>
    </mat-chip>
  }
  <div class="theme-toggle">
    <mat-icon>light_mode</mat-icon>
    <mat-slide-toggle
      [checked]="(isDarkMode$ | async) ?? false"
      (change)="toggleTheme()"
      aria-label="Toggle dark mode">
    </mat-slide-toggle>
    <mat-icon>dark_mode</mat-icon>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="User menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/settings">
      <mat-icon>settings</mat-icon>
      <span>Configuration</span>
    </button>
    <button mat-menu-item (click)="signOut()">
      <mat-icon>logout</mat-icon>
      <span>Sign out</span>
    </button>
  </mat-menu>
</mat-toolbar>

